*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff1744,#ff4d6d);
    overflow:hidden;
    font-family:Tahoma,sans-serif;
}

.container{
    text-align:center;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:25px;
    width:90%;
    max-width:500px;
    color:white;
    box-shadow:0 0 25px rgba(0,0,0,.3);
}

h1{
    font-size:3rem;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    position:relative;
    height:80px;
}

button{
    padding:12px 30px;
    font-size:1.2rem;
    border:none;
    border-radius:50px;
    cursor:pointer;
}

#yesBtn{
    background:white;
    color:#ff1744;
}

#noBtn{
    background:#b71c1c;
    color:white;
}
